<div class="row justify-content-center text-center mt-lg-3">
  <div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel" style="width: 100%; max-width: 899px;">
    <div class="carousel-inner">
      {{ $folder := .folder }} <!-- Define the folder path variable -->
      {{ $path := printf "static/%s/" $folder }} <!-- Construct the full path for readDir -->
      {{ $screenshots := readDir $path }}
      {{ range $index, $file := $screenshots }}
      <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
        <img src="/{{ $folder }}/{{ $file.Name }}" class="d-block w-100" alt="Screenshot {{ $index }}">
      </div>
      {{ end }}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
