
<div class="row justify-content-center text-center mt-lg-3">
  <div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel"  style="width: 100%; max-width: 899px;" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/screenshots/screenshots 1.png" class="d-block w-100" alt="Screenshot Bitcoin Safe history main screen" >
      </div>
      <div class="carousel-item" >
        <img src="/screenshots/screenshots 2.png" class="d-block w-100"  alt="Screenshot Bitcoin Safe addresses receive tab" >
      </div>
      <div class="carousel-item" >
        <img src="/screenshots/screenshots 3.png" class="d-block w-100"  alt="Screenshot Bitcoin Safe create transaction tab" >
      </div>
      <div class="carousel-item" >
        <img src="/screenshots/screenshots 4.png" class="d-block w-100"  alt="Screenshot Bitcoin Safe sign PSBT" >
      </div>
      <div class="carousel-item" >
        <img src="/screenshots/screenshots 5.png" class="d-block w-100"  alt="Screenshot Bitcoin Safe sign PSBT money flow diagram" >
      </div>
      <div class="carousel-item" >
        <img src="/screenshots/screenshots 6.png" class="d-block w-100"  alt="Screenshot Bitcoin Safe transaction view money flow diagram sankey" >
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
