{{ $items := .display_items | default .Page.Params.display_items }}

{{ if $items }}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">  <!-- add this to get 4 columns: row-cols-xl-4  -->
    {{ range $key, $item := $items }}
      {{ partial "card.html" (dict 
          "target_url" $item.target_url 
          "title" $item.title 
          "description" $item.description 
          "image_url" $item.image_url 
      ) }}
    {{ end }}
  </div>
{{ else }}
  <!-- <p>No display items provided.</p> -->
{{ end }}
